repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.77.0
  hooks:
  - id: terraform_fmt
    args:
      - --args=-recursive
  - id: terraform_validate
  - id: terraform_docs
    args:
    - --hook-config=--path-to-file=README.md